pis:
  migration:
    clean: false
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
elasticsearch:
  host: localhost
  port: 9200
  protocol: http
logging:
  level:
    root: info